## Задание 0

Для всех  заданий будем использовать обезличенные транзакционные банковские данные. Для этого считайте в переменные **tr_mcc_codes, tr_types, transactions и gender_train** из одноимённых таблиц из папки [data](https://drive.google.com/drive/folders/1YAMe7MiTxA-RSSd8Ex2p-L0Dspe6Gs4L). 

Для таблицы transactions используйте только первые n=1000000 строк. При чтении файлов обратите внимание на разделители внутри каждого из файлов - они могут различаться!

###  Описание данных
#### Таблица ```transactions.csv```
##### Описание
Таблица содержит историю транзакций клиентов банка за один год и три месяца.

##### Формат данных

```
customer_id,tr_datetime,mcc_code,tr_type,amount,term_id
111111,15 01:40:52,1111,1000,-5224,111111
111112,15 15:18:32,3333,2000,-100,11122233
...
```
##### Описание полей

 - ```customer_id``` — идентификатор клиента;
 - ```tr_datetime``` — день и время совершения транзакции (дни нумеруются с начала данных);
 - ```mcc_code``` — mcc-код транзакции;
 - ```tr_type``` — тип транзакции;
 - ```amount``` — сумма транзакции в условных единицах со знаком; ```+``` — начисление средств клиенту (приходная транзакция), ```-``` — списание средств (расходная транзакция);
 - ```term_id``` — идентификатор терминала;


#### Таблица ```gender_train.csv```

##### Описание
Данная таблица содержит информацию по полу для части клиентов, для которых он известен. Для остальных клиентов пол неизвестен.

##### Формат данных
```
customer_id,gender
111111,0
111112,1
...
```

##### Описание полей
 - ```customer_id``` — идентификатор клиента;
 - ```gender``` — пол клиента;

### Таблица ```tr_mcc_codes.csv```

##### Описание
Данная таблица содержит описание mcc-кодов транзакций.

##### Формат данных
```
mcc_code;mcc_description
1000;словесное описание mcc-кода 1000
2000;словесное описание mcc-кода 2000
...
```

##### Описание полей
 - ```mcc_code``` – mcc-код транзакции;
 - ```mcc_description``` — описание mcc-кода транзакции.

#### Таблица ```tr_types.csv```

##### Описание
Данная таблица содержит описание типов транзакций.

##### Формат данных
```
tr_type;tr_description
1000;словесное описание типа транзакции 1000
2000;словесное описание типа транзакции 2000
...
```

##### Описание полей
 - ```tr_type``` – тип транзакции;
 - ```tr_description``` — описание типа транзакции;


Задания 1-4 делаются без использования merge!

## Задание 1

1. Для столбца tr_type датафрейма transactions выберите произвольные 1000 строк с помощью метода sample
2. В полученной на предыдущем этапе подвыборке найдите долю транзакций (стобец tr_description в датасете tr_types), в которой содержится подстрока 'POS' или 'ATM'

In [171]:
import pandas as pd

In [172]:
!pip install gdown

Requirement already satisfied: gdown in /Users/artyomfadeyev/GitHub/ITMO-PROBLEMS/Machine-Learning/venv/lib/python3.9/site-packages (4.5.1)
Requirement already satisfied: beautifulsoup4 in /Users/artyomfadeyev/GitHub/ITMO-PROBLEMS/Machine-Learning/venv/lib/python3.9/site-packages (from gdown) (4.11.1)
Requirement already satisfied: filelock in /Users/artyomfadeyev/GitHub/ITMO-PROBLEMS/Machine-Learning/venv/lib/python3.9/site-packages (from gdown) (3.8.0)
Requirement already satisfied: requests[socks] in /Users/artyomfadeyev/GitHub/ITMO-PROBLEMS/Machine-Learning/venv/lib/python3.9/site-packages (from gdown) (2.28.1)
Requirement already satisfied: six in /Users/artyomfadeyev/GitHub/ITMO-PROBLEMS/Machine-Learning/venv/lib/python3.9/site-packages (from gdown) (1.16.0)
Requirement already satisfied: tqdm in /Users/artyomfadeyev/GitHub/ITMO-PROBLEMS/Machine-Learning/venv/lib/python3.9/site-packages (from gdown) (4.64.1)
Requirement already satisfied: soupsieve>1.2 in /Users/artyomfadeyev/GitHub/ITMO-PROBLEMS/Machine-Learning/venv/lib/python3.9/site-packages (from beautifulsoup4->gdown) (2.3.2.post1)
Requirement already satisfied: idna<4,>=2.5 in /Users/artyomfadeyev/GitHub/ITMO-PROBLEMS/Machine-Learning/venv/lib/python3.9/site-packages (from requests[socks]->gdown) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/artyomfadeyev/GitHub/ITMO-PROBLEMS/Machine-Learning/venv/lib/python3.9/site-packages (from requests[socks]->gdown) (1.26.12)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/artyomfadeyev/GitHub/ITMO-PROBLEMS/Machine-Learning/venv/lib/python3.9/site-packages (from requests[socks]->gdown) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/artyomfadeyev/GitHub/ITMO-PROBLEMS/Machine-Learning/venv/lib/python3.9/site-packages (from requests[socks]->gdown) (2022.9.24)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /Users/artyomfadeyev/GitHub/ITMO-PROBLEMS/Machine-Learning/venv/lib/python3.9/site-packages (from requests[socks]->gdown) (1.7.1)

In [7]:
!gdown 1lEpoRKczv5EvZhff9O2I-0JkdHnbe_Mq -O ./data/transactions.csv

Downloading...
From: https://drive.google.com/uc?id=1lEpoRKczv5EvZhff9O2I-0JkdHnbe_Mq
To: /Users/artyomfadeyev/GitHub/ITMO-PROBLEMS/Machine-Learning/V semester/data/transactions.csv
100%|████████████████████████████████████████| 314M/314M [01:07<00:00, 4.67MB/s]

In [173]:
transactions = pd.read_csv('./data/transactions.csv')
transactions.columns

Index(['customer_id', 'tr_datetime', 'mcc_code', 'tr_type', 'amount',
       'term_id'],
      dtype='object')

In [190]:
tr_types_samples = transactions.tr_type.sample(1000)
tr_types_samples.head()

6239845    2010
4920671    1030
4985848    1030
6032483    2011
2109288    1010
Name: tr_type, dtype: int64

In [16]:
!gdown 1EP3KrATWS1I_qYdpRhYnSDl-eoBiOBQc -O ./data/tr_types.csv

Downloading...
From: https://drive.google.com/uc?id=1EP3KrATWS1I_qYdpRhYnSDl-eoBiOBQc
To: /Users/artyomfadeyev/GitHub/ITMO-PROBLEMS/Machine-Learning/V semester/data/tr_types.csv
100%|██████████████████████████████████████| 14.2k/14.2k [00:00<00:00, 21.6MB/s]

In [191]:
tr_types = pd.read_csv('./data/tr_types.csv', sep=';')
tr_types.head()

   tr_type                                     tr_description
0     3200  Плата за предоставление услуг посредством моби...
1     3210  Плата за предоставление отчета по счету карты ...
2     3800  Плата за обслуживание банковской карты (за пер...
3     4000            Плата за получение наличных в Сбербанке
4     4001  Плата за получение наличных в Сбербанке (в дру...

In [221]:
types_contains_substrings = tr_types[
    tr_types.tr_description.str.contains('POS') |
    tr_types.tr_description.str.contains('АТМ') # in Russian
].tr_type

In [226]:
tr_types_samples.isin(types_contains_substrings).value_counts()[True] / len(tr_types_samples)

0.634

## Задание 2

1. Для столбца tr_type датафрейма transactions посчитайте частоту встречаемости всех типов транзакций tr_type в transactions.
2. Выведите топ-10 транзакций по частоте встречаемости (вывести для них tr_description тоже).

In [170]:
transactions = pd.read_csv('./data/transactions.csv')
top_transactions = transactions['tr_type'].value_counts(ascending=False, normalize=True).head(10)
top_transactions

1010    0.232100
2010    0.151943
1030    0.141764
1110    0.135510
7070    0.101016
2370    0.054972
7010    0.037681
7030    0.022659
1100    0.017209
7071    0.014037
Name: tr_type, dtype: float64

In [169]:
tr_types = pd.read_csv('./data/tr_types.csv', sep=';')
tr_types[tr_types.tr_type.isin(top_transactions.index)]

     tr_type                                     tr_description
39      7010       Взнос наличных через АТМ (в своем тер.банке)
47      7030  Перевод на карту (с карты) через АТМ (в предел...
59      7070  Перевод на карту (с карты) через Мобильный бан...
60      7071  Перевод на карту (с карты) через Мобильный бан...
98      1010                              Покупка. POS ТУ СБ РФ
99      1030                     Оплата услуги. Банкоматы СБ РФ
100     1100                                Покупка. ТУ  Россия
101     1110                             Покупка. POS ТУ Россия
106     2010              Выдача наличных в АТМ Сбербанк России
129     2370  Списание с карты на карту по операции <перевод...

## Задание 3
1. В датафрейме transactions найдите клиента с максимальной суммой приходов на карту
2. В датафрейме transactions найдите клиента с максимальной суммой расходов по карте
3. Найдите модуль разницы для этих клиентов между суммой расходов и суммой приходов

## Задание 4
1. Найдите среднее арифметическое и медиану по amount по всем типам транзакций из топ 10 из задания 2
1. Найдите среднее арифметическое и медиану по amount по всем типам транзакций для клиентов из задания 3

## Подготовка для заданий 5-8

*Из заданий 5-8 нужно выполнить минимум два любых*

Соедините transactions с всеми остальными таблицами (tr_mcc_codes, tr_types, gender_train). Причём с gender_train необходимо смёрджиться с помощью left join, а с оставшимися датафреймами - через inner.
После получения результата таблицы gender_train, tr_types, tr_mcc_codes можно удалить. В результате соединения датафреймов должно получиться 999584 строки.

In [4]:
transactions = pd.merge(transactions, gender_train, how='left')
transactions = pd.merge(transactions, tr_mcc_codes, how='inner')
transactions = pd.merge(transactions, tr_types, how='inner')
transactions.shape

NameError: name 'transactions' is not defined

## Задание 5

1. Определите модуль разницы между средними тратами женщин и мужчин (трата - отрицательное значение amount).
2. Определите модуль разницы между средними поступлениями у мужчин и женщин

Обратите внимание, что для вычисления модуля разности точных знаний о том, 
какой класc относится к мужчинам, а какой - к женщинам, не требуется.

## Задание 6

1. По всем типам транзакций рассчитайте максимальную сумму прихода на карту (из строго положительных сумм по столбцу amount) отдельно для мужчин и женщин (назовите ее "max_income"). Оставьте по 10 типов транзакций для мужчин и для женщин, наименьших среди всех типов транзакций по полученным значениям "max_income". 
2. Выделите среди них те типы транзакций, которые встречаются одновременно и у мужчин, и у женщин

## Задание 7

1. Найдите суммы затрат по каждой категории (mcc) для мужчин и для женщин. 
2. Найдите топ 10 категорий с самыми большими относительными модулями разности в тратах для разных полов (в ответе должны присутствовать описания mcc кодов).

## Задание 8

1. Из поля tr_datetime выделите час tr_hour, в который произошла транзакция, как первые 2 цифры до ":". (\**)
2. Посчитайте количество транзакций с amount<0 в ночное время для мужчин и женщин. Ночное время - это примерно 00-06 часов.